@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
 --palette-header: #656565;
 --palette-footer: #555aaa;
 --palette-body: #00AFAF;
 font-family: 'Patua One', cursive;
}

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--palette-body);
}

.main-header {
  background-color: var(--palette-header);
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  background-color: var(--palette-footer);
  width: 100vw;
  height: 30px;
}

#library-container {
  padding-top: 50px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
}

.library-card {
  background-color: black;
  margin: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 10px;
  text-align: center;;
  border: 2px solid black;
}

#new-library-card {
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: center;
  width: 200px;
  height: 250px;
  padding: 10px;
  font-size: 180px;
  text-align: center;
  border: 2px solid black;
}

#popup-container {
  position: fixed;
  background-color: white;
  padding: 50px;
  width: auto;
  height: 500px;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}

#popup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.control-btn {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
  color: black;
  line-height: 32px;
  background-color: #BEE5BF;
  transition: background-color 0.4s ease-out;
}

.control-btn:hover {
  box-shadow: 1px 1px 3px black;
  background-color: #DFF3E3;
  cursor: pointer;
}

input {
  line-height: 25px;
}